.banner img{
    width: 100%;
    height: auto;
}
.sec2{
    width: 100%;
}
.sec2-warp{
    width: 1843px;
    margin: auto;
    margin-top: 98px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

}
.sec2-warp-nei{
    width: 568px;
    height: 398px;
    position: relative;
    margin-top: 56px;
    margin-bottom: 101px;
    overflow: hidden;
}
.sec2-warp-text{
    width: 100%;
    height: 112px;
    position: absolute;
    bottom: 0;
    left: 0;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0) 100%);

    font-size: 32px;
    font-family: SourceHanSansCN;
    font-weight: 400;
    color: #FFFFFF;
    line-height: 30px;
    text-align: center;
    line-height: 112px;
}
.pagination{
    display: flex;
    width: auto;
    justify-content: center;
    align-items: center;
    margin-bottom: 99px;
}
.pagination1{
    width: 37px;
    height: 37px;
    border: 1px solid #00913A;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    font-size: 20px;
    font-family: AlibabaPuHuiTiR;
    font-weight: 400;
    color: #787878;
    transition: 0.6s;
}
.pagination1:nth-child(1){
    color: #00913A;
}
.pagination1:nth-last-child(1){
    color: #00913A;
}
.pagination1-sel{

    background: #00913A;
    color: white;
}
.pagination1:hover{
    background: #00913A;
    color: white;
}
.sec2-warp-nei img{
    transition: 0.6s;
}
.sec2-warp-nei:hover img{
    transform: scale(1.2);
}
