head-left .sec4-warp3 line {
    background:rgba(0,0,0,.2)
}
.head .head-left .left-d span{
    color:#3E3E3E ;
}
.head .head-left .span span{
    background:#4F4F4F;
}
.head-right .ss i{
    color: #3F3F3F;
}
.head-right .ss input{
    color: #B1B1B1;
    background: #F6F6F6;
}
.head-right .search{
    color:#444444;
}
.head-right .CN{
    color: #444;
}
.language span{
    color: #444;
}
.head-right .line{
    background: rgba(0,0,0,.2);
}
.head-right .xl i{
    color: #444;
}

.section{
    width: 100%;
    height: 960px;
    overflow: hidden;
}
.xl i{
    color: white;
}
.section2{
    width: 100%;
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: white;
    overflow: hidden;
    border-bottom: 1px solid rgba(0, 0, 0, .06      );
}
.section2 p{
    text-align: center;
    width: 152px;
    font-size: 14px;
    font-family: SourceHanSansCN;
    font-weight: 400;
    color: #464646;
    transition: 0.6s;
    cursor: pointer;
    position: relative;
    /*margin-right: 96px;*/
}
.section2 p:after{
    content: "";
    width: 0px;
    height: 2px;
    background: #0080CC;
    bottom: -35px;
    left: 50%;
    transform: translate(-50%,0%);
    position: absolute;
    transition: 0.6s;
}
.section2 p:hover{
    color: rgba(0, 128, 204, .6);
}
.section2 p:hover:after{
    width: 70px;
}
.section3{
    width: 100%;
    height: auto;
    overflow: hidden;
    background: white;
    position: relative;
}
.sec3-biao{
    width: 15px;
    height: 15px;
    position: relative;
    margin-right: 31px;
}
.xief{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 15px;
    height: 15px;
    background: #0080CC;
    transform: rotate3d(6,-58,5, 42deg);
    z-index: 2;
}
.xiey{
    top: 4px;
    left: 4px;
    position: absolute;
    width: 15px;
    height: 15px;
    background: #E0E0E0;
    transform: rotate3d(6,-58,5, 42deg);
    z-index: 1;
}
.sec3-warp{
    width: 1466px;
    height: auto;
    margin: auto;
    margin-top: 99px;
    position: relative;
    z-index: 100;
}
.sec3-warp-top{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.sec3-warp-le{
    display: flex;
}
.sec3-biao-text span{
    font-size: 28px;
    font-family: SourceHanSansCN-Medium;
    font-weight: 500;
    color: #1A1919;
    line-height: 22px;
}
.sec3-biao-text p{
    font-size: 14px;
    font-family: SourceHanSansCN;
    font-weight: 400;
    color: #1A1919;
    line-height: 28px;
    margin-top: 23px;
}

.sec3-warp-ri{
    display: flex;
}
.prev{
    transform: rotateY(180deg);
    margin-right: 23px;
}
.prev,.next{
    width: 44px;
    height: 44px;
    background: #CBCDCF;
    border-radius: 50%;
    display: flex!important;
    align-items: center;
    justify-content: center;
    transition: 0.6s;
}
.prev i,.next i{
    color: rgba(137, 140, 142, 1);
    font-size: 13px;
    transition: 0.6s;
}
.prev:hover,.next:hover{
    cursor: pointer;
    background: #0080CC;
}
.prev:hover i,.next:hover i{
    color: white;
}
.section3 .swiper-container{
    width: 100%;
    height: auto;
    overflow: hidden;
    margin-top: 50px;
    height: 550px;
}
.sl-img{
    width: 234px;
    height: 315px;
}
.sl-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.sl-text{
    display: flex;
    align-items: center;
    margin-top: 18px;
    margin-left: 18px;
    width: 80%;
}
.sl-text .xcir{
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background: #0080CC;
    margin-right: 7px;
}
.sl-text p{
    font-size: 18px;
    font-family: SourceHanSansCN-Medium;
    font-weight: 500;
    color: #1A1919;
}
.section3 .swiper-container .swiper-slide{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.section3 .swiper-container .swiper-slide:nth-child(2n){
    top: 79px;
}
.section3 .xian{
    width: 100%;
    position: absolute;
    z-index: 0;
    left: 0;
    top: 40%;
}
.section3 .xian img{
    width: 100%;
    height: auto;
}
.section4{
    width: 100%;
    height: auto;
    overflow: hidden;
    background: white;
}
.section4 .sec4-warp-top{
    display: flex;
    align-items: center;
    margin: auto;
    justify-content: center;
    margin-top: 163px;
}
.section4 .sec4-warp-top span{
    font-size: 32px;
    font-family: SourceHanSansCN-Bold;
    font-weight: bold;
    color: #1A1919;
}
.section4 .sec4-warp2{
    width: 48%;
    margin: auto;
    margin-top: 54px;
    margin-bottom: 32px;
}
.section4 .sec4-warp2 span{
    font-size: 18px;
    font-family: SourceHanSansCN;
    font-weight: 400;
    color: #1A1919;
}
.section4 .sec4-warp2 .num{
    font-size: 31px;
    font-family: Roboto;
    font-weight: 400;
    color: #0080CC ;
}
.sec4-warp3 .swiper-container .swiper-slide .sec4-sli-img{
    width: 1114px;
    height: 555px;
    background: #F3F3F3;
    display: flex;
    align-items: center;
    justify-content: center;
}
.sec4-warp-ri{
    display: flex;
    position: absolute;
    z-index:10;
    top: 50%;
    width: 66%;
    left: 50%;
    transform: translate(-50%,-50%);
    justify-content: space-between;
}
.sec4-warp3{
    width: 100%;
    height: 555px;
    position: relative;
}
.sec4-warp3 .swiper-container{
    width: 150%;
    height: 100%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    z-index:9;
}
.sec4-warp3 .swiper-container .swiper-wrapper{
    width: 100%;
    height: 100%;
}
.sec4-warp3 .swiper-container .swiper-wrapper .swiper-slide{
    width: 100%;
    height: 100%;

    background: #F3F3F3;
    display: flex;
    align-items: center;
    justify-content: center;
}
.sec4-warp4 table{
    margin: auto;
    text-align: center;
    width: 60%;
    margin-top: 82px;
    margin-bottom: 68px;
}
.sec4-warp4 table tr td{
    padding: 10px 20px;
    word-break: break-all;
}
.sec4-warp4 table tr td:nth-child(1){

    background: #FAFAFA;
    font-size: 14px;
    font-family: SourceHanSansCN;
    font-weight: 400;
    color: #252525;
}
.sec4-warp4 table tr td:nth-child(3)[rowspan]{
    background: #F5F5F5;

    font-size: 14px;
    font-family: SourceHanSansCN;
    font-weight: 400;
    color: #252525;
}
.sec4-warp4 table tr td:nth-child(2){
    background: #FAFAFA;

    font-size: 14px;
    font-family: SourceHanSansCN;
    font-weight: 400;
    color: #252525;
}
.sec4-warp4 table tr:nth-child(1) td:nth-child(1){
    background: #0080CC;
    width: 20%;
    font-size: 16px;
    font-family: SourceHanSansCN-Medium;
    font-weight: 500;
    color: #FFFFFF;
}
.sec4-warp4 table tr:nth-child(1) td:nth-child(2){
    background: #808080;
    width: 40%;
    font-size: 16px;
    font-family: SourceHanSansCN-Medium;
    font-weight: 500;
    color: #FFFFFF;
}
.sec4-warp4 table tr:nth-child(1) td:nth-child(3){
    width: 30%;
    background: #B3B3B3;

    font-size: 16px;
    font-family: SourceHanSansCN-Medium;
    font-weight: 500;
    color: #FFFFFF;
}
.sec4-warp4 table tr td:nth-child(1)[rowspan]{
    background: rgba(0, 128, 204, .06);
    padding: 10px 60px;
    font-size: 14px;
    font-family: SourceHanSansCN-Medium;
    font-weight: 500;
    color: #252525;
    line-height: 32px;
}
.sec4-warp5{
    width: 60%;
    margin: auto;
}
.sec4-warp5 span{
    font-size: 20px;
    font-family: SourceHanSansCN-Medium;
    font-weight: 500;
    color: #201F1F;
    margin-bottom: 35px;
    display: block;
}
.warp5-p .p-1{
    display: flex;
    margin-bottom: 36px;
}
.warp5-p .p-1 p{
    font-size: 15px;
    font-family: SourceHanSansCN;
    font-weight: 400;
    color: #3A3A3A;
    line-height: 26px;
}
.sec4-biao{
    position: relative;
    display: flex;
    height: 20px;
    align-items: flex-end;
    margin-right: 10px;
}
.sec4-biao .xiao{
    width: 4px;
    height: 4px;
    background: #FABE00;
    margin-right: 3px;
}
.sec4-biao .da{
    width: 10px;
    height: 10px;
    background: #0080CC;
}
.sec4-warp6{
    width: 60%;
    margin: auto;
    margin-top: 108px;
}
.sec4-warp6 span{
    font-size: 22px;
    font-family: SourceHanSansCN-Medium;
    font-weight: 500;
    color: #201F1F;
    line-height: 32px;
    display: block;
    margin-bottom: 45px;
}

.sec4-warp4 table{
    width: 60%;
}
.sec4-warp6 table{
    width: 100%;
    text-align: center;
}
.sec4-warp6 table tr td{
    padding: 10px 20px;
    word-break: break-all;
}
.sec4-warp6 table tr td:nth-child(1){
    font-size: 14px;
    font-family: SourceHanSansCN;
    font-weight: 400;
    color: #252525;
    background: rgba(0, 128, 204, .06);
    padding: 20px 20px;
}
.sec4-warp6 table tr td:nth-child(2){
    font-size: 14px;
    font-family: SourceHanSansCN;
    font-weight: 400;
    color: #252525;
    background: #FAFAFA;
    padding: 20px 20px;
}
.sec4-warp6 table tr td:nth-child(3){
    font-size: 14px;
    font-family: SourceHanSansCN;
    font-weight: 400;
    color: #252525;
    background: #F5F5F5;
    padding: 20px 20px;
}
.sec4-warp6 table tr td:nth-child(4){
    font-size: 14px;
    font-family: SourceHanSansCN;
    font-weight: 400;
    color: #252525;
    background: #F6F6F6;
    padding: 20px 20px;
}
.sec4-warp6 table tr td:nth-child(5){
    font-size: 14px;
    font-family: SourceHanSansCN;
    font-weight: 400;
    color: #252525;
    background: rgba(228, 190, 11, .06);
    padding: 20px 20px;
}
.sec4-warp6 table tr:nth-child(1) td:nth-child(1){
    background: #0080CC;
    width: 15%;
    font-size: 16px;
    font-family: SourceHanSansCN-Medium;
    font-weight: 500;
    color: #FFFFFF;
    padding: 10px 20px;
}
.sec4-warp6 table tr:nth-child(1) td:nth-child(2){
    background: #808080;
    width: 15%;
    font-size: 16px;
    font-family: SourceHanSansCN-Medium;
    font-weight: 500;
    color: #FFFFFF;
    padding: 10px 20px;
}
.sec4-warp6 table tr:nth-child(1) td:nth-child(3){
    width: 15%;
    background: #B3B3B3;

    font-size: 16px;
    font-family: SourceHanSansCN-Medium;
    font-weight: 500;
    color: #FFFFFF;
    padding: 10px 20px;
}
.sec4-warp6 table tr:nth-child(1) td:nth-child(4){
    width: 15%;
    background: #A6A5A5;
    font-size: 16px;
    font-family: SourceHanSansCN-Medium;
    font-weight: 500;
    color: #FFFFFF;
    padding: 10px 20px;
}

.sec4-warp6 table tr:nth-child(1) td:nth-child(5){
    width: 40%;
    background: #FABE00;
    font-size: 16px;
    font-family: SourceHanSansCN-Medium;
    font-weight: 500;
    color: #FFFFFF;
    padding: 10px 20px;
}
.section5{
    width: 100%;
    height: auto;
    background: white;
    overflow: hidden;
}
.section5-warp{
    width: 1466px;
    margin: auto;
}
.section5-warp .sec5-img{
    width: 1224px;
    margin: auto;
}
.section5 .sec5-warp-top{
    display: flex;
    align-items: center;
    margin: auto;
    margin-top: 102px;
    margin-bottom: 78px;
}
.section5 .sec5-warp-top span{
    font-size: 28px;
    font-family: SourceHanSansCN-Medium;
    font-weight: 500;
    color: #1A1919;
    line-height: 28px;
}
.section6{
    width: 100%;
    background: white;
    overflow: hidden;
    height: auto;
    padding-bottom: 38px;
}
.section6 .section6-warp{
    width: 1466px;
    margin: auto;
}
.section6 .sec6-warp-top{
    display: flex;
    align-items: center;
    margin: auto;
    margin-top: 102px;
    margin-bottom: 54px;
}
.section6 .sec6-warp-top span{
    font-size: 28px;
    font-family: SourceHanSansCN-Medium;
    font-weight: 500;
    color: #1A1919;
    line-height: 28px;
}
.section6 .section6-warp1{
    width: 1466px;
    height: 552px;
    border: 1px solid #DBDBDB;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
}
.section6 .section6-warp1 img:nth-child(1){
    margin-right: 89px;
}

.que{
    color: rgba(0, 128, 204, .6) !important;
}
.que:after{
    width: 70px !important;
}
.section7 {
    width: 100%;
    background: white;
    overflow: hidden;
    height: auto;
    padding-bottom: 38px;
}
.section7 .sec7-warp {
    width: 1466px;
    margin: auto;
}
.section7 .sec7-warp-top {
    display: flex;
    align-items: center;
    margin: auto;
    margin-top: 102px;
    margin-bottom: 54px;
}
.section7 .sec7-warp-top span {
    font-size: 28px;
    font-family: SourceHanSansCN-Medium;
    font-weight: 500;
    color: #1A1919;
    line-height: 28px;
}
.sec7-vv{
    width: 94%;
    margin: auto;
}
.section7 .sec7-warp .sec7-vv .sec7-p{
    font-size: 15px;
    font-weight: 400;
    color: #3A3A3A;
    line-height: 26px;
}
.section7 .sec7-warp .sec7-v1{
    margin-top: 140px;
    display: flex;
    flex-direction: column;
}
.section7 .sec7-warp .sec7-v1 span{
    font-size: 22px;
    font-weight: 500;
    color: #201F1F;
    line-height: 32px;
    margin-bottom: 60px;
}
.section7 .sec7-warp .sec7-v1 svg g{
    opacity: 0;
    transition: 0.6s;
}
.sec7-v1 .v1-img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.sec7-v1 .v2-img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 622px;
    border: 1px solid #DBDBDB;
}
.sec7-v1 .v1-img table td{
    width: 278px;
    height: 69px;
    background: #FAFAFA;
    text-align: center;
    line-height: 69px;

    font-size: 16px;
    font-weight: 400;
    color: #252525;
}
.sec7-v1 .v1-img table tr:nth-child(1) td{
    width: 280px;
    height: 57px;
    background: #0080CC;
    text-align: center;
    line-height: 57px;

    font-size: 16px;
    font-weight: 500;
    color: #FFFFFF;
}
.sec7-v2 .v1-img table{
    margin-top: 80px;
    margin-bottom: 80px;
}




