head-left .sec4-warp3 line {
    background: rgba(0, 0, 0, .2)
}

.head .head-left .left-d span {
    color: #3E3E3E;
}

.head .head-left .span span {
    background: #4F4F4F;
}

.head-right .ss i {
    color: #3F3F3F;
}

.head-right .ss input {
    color: #B1B1B1;
    background: #F6F6F6;
}

.head-right .search {
    color: #444444;
}

.head-right .CN {
    color: #444;
}

.language span {
    color: #444;
}

.head-right .line {
    background: rgba(0, 0, 0, .2);
}

.head-right .xl i {
    color: #444;
}

.section {
    width: 100%;
    height: 960px;
    overflow: hidden;
}

.xl i {
    color: white;
}

.section2 {
    width: 100%;
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: white;
    overflow: hidden;
    border-bottom: 1px solid rgba(0, 0, 0, .06);
}

.section2 p {
    text-align: center;
    width: 152px;
    font-size: 14px;
    font-family: SourceHanSansCN;
    font-weight: 400;
    color: #464646;
    transition: 0.6s;
    cursor: pointer;
    position: relative;
    /*margin-right: 96px;*/
}

.section2 p:after {
    content: "";
    width: 0px;
    height: 2px;
    background: #0080CC;
    bottom: -35px;
    left: 50%;
    transform: translate(-50%, 0%);
    position: absolute;
    transition: 0.6s;
}

.section2 p:hover {
    color: rgba(0, 128, 204, .6);
}

.section2 p:hover:after {
    width: 70px;
}

.section3 {
    width: 100%;
    height: auto;
    background: white;
    overflow: hidden;
}

.sec3-warp {
    width: 60%;
    margin: auto;
    margin-top: 90px;
    margin-bottom: 160px;
}

.section3 .sec3-warp .sec3-warp-1 span {
    display: block;
    text-align: center;
    font-size: 32px;
    font-family: SourceHanSansCN-Bold;
    font-weight: bold;
    color: #303030;
    line-height: 28px;
    margin-bottom: 102px;
}

.section3 .sec3-warp .sec3-warp-2 span {
    font-size: 26px;
    font-family: SourceHanSansCN-Bold;
    font-weight: bold;
    color: #303030;
    line-height: 28px;
    margin-bottom: 57px;
    display: block;
}

.section3 .sec3-warp .sec3-warp-2 p {
    font-size: 14px;
    font-family: SourceHanSansCN;
    font-weight: 400;
    color: #414040;
    line-height: 32px;
}

.section3 .sec3-warp .sec3-line {
    width: 100%;
    height: 1px;
    background: #ECECEC;
    margin: 86px 0px;
}

.section3 .sec3-warp .sec3-warp-3 {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    margin-top: 92px;
}

.section3 .sec3-warp .sec3-warp-3 .sec3-warp-cir {
    width: 149px;
    height: 149px;
    border: 1px solid #0080CC;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    transition: 0.6s;
    cursor: pointer;
}
.section3 .sec3-warp .sec3-warp-3 .sec3-warp-cir:hover{
    background: #0080CC;

}
.section3 .sec3-warp .sec3-warp-3 .sec3-warp-cir:hover span{
    color: #fff;
}
.section3 .sec3-warp .sec3-warp-3 .sec3-warp-cir span {
    font-size: 18px;
    font-family: SourceHanSansCN-Bold;
    font-weight: bold;
    color: #1C1A1A;
    line-height: 26px;
    transition: 0.6s;
}

.section4 {
    width: 100%;
    height: auto;
    overflow: hidden;
    background: white;
}

.sec4-warp {
    width: 1466px;
    height: auto;
    width: 1466px;
    background: #FFFFFF;
    margin: auto;
    box-shadow: 0px -1px 29px 0px rgba(51, 51, 51, 0.05);
    overflow: hidden;
    position: relative;
    top: -100px;
}

.sec4-warp-nei {
    width: 90%;
    height: auto;
    margin: auto;
    margin-bottom: 98px;
    margin-top: 112px;
}

.section4 .sec4-top {
    width: 100%;
    height: auto;
    position: relative;
}

.section4 .sec4-top img {
    width: 100%;
    height: auto;
}

.section4 .sec4-top span {
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 32px;
    margin-top: -14px;
    margin-left: -64px;
    font-family: SourceHanSansCN-Bold;
    font-weight: bold;
    color: #FFFFFF;
    line-height: 28px;
}

.sec4-warp-nei .nei1 {
    margin-left: 74px;
}

.sec4-warp-nei .nei1 span {
    font-size: 28px;
    font-family: SourceHanSansCN-Medium;
    font-weight: 500;
    color: #000000;
    line-height: 26px;
    margin-bottom: 25px;
    display: block;
}

.sec4-warp-nei .nei1 p {
    font-size: 16px;
    font-family: SourceHanSansCN;
    font-weight: 400;
    color: #505050;
    line-height: 26px;
}

.sec4-warp-nei .nei2 {
    width: 100%;
    height: 76px;
    background: #F6F7F8;
    margin-top: 66px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.sec4-warp-nei .nei2 span {
    font-size: 16px;
    font-family: SourceHanSansCN-Medium;
    font-weight: 500;
    color: #525456;
    display: block;
    width: 74px;
    text-align: center;

}

.sec4-warp-nei .nei3 {
    width: 99.9%;
    height: auto;
    border: 1px solid #E6E6E6;
    margin-top: 30px;

}

.sec4-warp-nei .nei3 .nei3-2 {
    width: 100%;
    height: 73px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    cursor: pointer;
    transition: 0.6s;
}

.sec4-warp-nei .nei3 .nei3-2 span {
    font-size: 14px;
    font-family: SourceHanSansCN-Medium;
    font-weight: 500;
    color: #626467;
    display: block;
    width: 80px;
    text-align: center;
    transition: 0.6s;
}

.sec4-warp-nei .nei3 .nei3-3 {
    width: 88%;
    background: white;
    margin: auto;
    display: none;
}
.sec4-warp-nei .nei3 .nei3-3 .warp{
    display: flex;
}
.nei3-3 .nei3-3-le span {
    font-size: 22px;
    font-family: SourceHanSansCN-Medium;
    font-weight: 500;
    color: #1C1C1C;
    line-height: 32px;
}

.nei3-3 .nei3-3-le .nei3-3-le-p p {
    font-size: 14px;
    font-family: SourceHanSansCN;
    font-weight: 400;
    color: #9DA0A5;
    line-height: 26px;
}

.nei3-3 .nei3-3-le .nei3-3-le-p {
    margin-top: 38px;
    margin-bottom: 59px;
}

.nei3-3 .nei3-3-le .nei3-3-le-bo {
    display: flex;

}

.nei3-3 .nei3-3-le .nei3-3-le-bo p {
    font-size: 14px;
    font-family: Source Han Sans CN;
    font-weight: 400;
    color: #1C1C1C;
    line-height: 32px;

}
.nei3-3 .nei3-3-le,.nei3-3 .nei3-3-ri{
    margin-top: 84px;
    margin-bottom: 78px;
}
.nei3-3 .nei3-3-le .nei3-3-le-bo p:nth-child(2) {
    color: #0080CC;
}

.nei3-3 .nei3-3-ri span {
    font-size: 22px;
    font-family: SourceHanSansCN-Medium;
    font-weight: 500;
    color: #1C1C1C;
    line-height: 32px;
}

.nei3-3 .nei3-3-ri .nei3-3-le-p p {
    font-size: 14px;
    font-family: SourceHanSansCN;
    font-weight: 400;
    color: #9DA0A5;
    line-height: 26px;
}

.nei3-3 .nei3-3-ri .nei3-3-le-p {
    margin-top: 38px;
    margin-bottom: 59px;
}

.nei3-3 .nei3-3-ri {
    margin-left: 119px;
}
.cc{
    background: #0080CC;
}
.cc span{
    color: white!important;
}
.sec4-warp-nei .nei3 .nei3-2:hover{
    background: #0080CC;
}
.sec4-warp-nei .nei3 .nei3-2:hover span{
    color: white;
}
