.banner{
	width: 100%;
	height: 350px;
	position: relative;
	overflow: hidden;
}
.banner img{
	transition: 5s;
	width: 100%;
	height: 100%;
	object-fit: cover;
	transform: scale(1.3);
}
.tu-text{
	position: absolute;	
	z-index: 10;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	text-align: center;
}
.tu-text p{
	font-size: 18px;
	font-family: SourceHanSansSC-Light;
	font-weight: 300;
	color: #FFFFFF;
	opacity: 0.3;
}
.tu-text span{
	font-size: 26px;
	font-family: Source Han Sans CN;
	font-weight: 400;
	color: #FFFFFF;
}
.banner1{
	width: 1200px;
	margin: auto;
	height: auto;
	margin-top: 45px;
	display: flex;
	justify-content: space-between;
}
.banner-left{
	width: 250px;
	height: auto;
}
.banner-left-b1{
	width: 100%;
	height: 120px;
	position: relative;
}
.banner-left-b1 img{
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.banner-left-b2{
	width: 100%;
	height: 100px;
}
.banner-left-b2 img{
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.banner-left-tetx{
	width: 100%;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	display: flex;
	align-items: center;
	justify-content: center;
}
.banner-left-tetx span{
	font-size: 26px;
	font-family: SourceHanSansCN-Bold;
	color: #FFFFFF;
	margin-right: 83px;
}
.banner-left-tetx img{
	width: 20px;
	height: 20px;
}
.left-tt{
	width: 100%;
	height: auto;
}
.left-tt-1{
	width: 100%;
	height: 60px;
	border-bottom: 1px solid #E6E6E6;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.left-tt-1 span{
	margin-left: 29px;
	font-size: 14px;
	font-family: Source Han Sans CN;
	font-weight: 400;
	color: #000000;
	transition: 0.6s;
}
.left-tt-1 img{
	margin-right: 16px;
}

.banner1 .left-tt a:hover span{
	color: #00328B;
}

.banner-right{
	width: 900px;
	height: auto;
}
.banner-right-top{
	margin-top: 20px;
	height: 55px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	border-bottom: 1px solid #E6E6E6;
}
.banner-right-top span{
	font-size: 22px;
	font-family: Source Han Sans CN;
	font-weight: 400;
	color: #000000;
}
.miaob{
	display: flex;
}
.miaob p,.miaob a{
	font-size: 12px;
	font-family: Source Han Sans CN;
	font-weight: 400;
	color: #666666;
	transition: 0.6s;
}
.miaob a:hover{
	color: #00328B;
}


.fenye-prv img{
	transform: rotateY(180deg);
}

.fenye{
	width: 100%;
	height: 30px;
	display: flex;
	justify-content: center;
	margin-top: 37px;
	margin-bottom: 53px;
}
.fenye>div{
	font-size: 14px;
	font-family: Source Han Sans CN;
	font-weight: 400;
	color: #666666;
	
	width: 30px;
	height: 30px;
	background: #F5F5F5;
	text-align: center;
	line-height: 30px;
	margin-right: 11px;
}
.fenye>div>a{
	display: block;
	width: 30px;
	height: 30px;
	color: #666666;
	transition: 0.6s;
}
.fenye>div>a:hover{
	background: #00328B;
	color: white;
}
.xuanzf a{
	background: #00328B;
	color: white!important;
}

.banner-ban{
	width: 100%;
	height: 914px;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	align-content: space-between;
}
.banner-ban-ne{
	width: 280px;
	height: 280px;
}
.ban-ne-img{
	width: 280px;
	height: 200px;
}
.ban-ne-img img{
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.ban-ne-text{
	width: 280px;
	height: 80px;
	background: #F5F5F5;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.ban-ne-text p{
	font-size: 16px;
	font-family: Source Han Sans CN;
	font-weight: 400;
	color: #000000;
	margin-left: 23px;
}
.ban-ne-text img{
	margin-right: 22px;
}