.banner{
	width: 100%;
	height: 350px;
	position: relative;
	overflow: hidden;
}
.banner img{
	transition: 5s;
	width: 100%;
	height: 100%;
	object-fit: cover;
	transform: scale(1.3);
}
.tu-text{
	position: absolute;	
	z-index: 10;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	text-align: center;
}
.tu-text p{
	font-size: 18px;
	font-family: SourceHanSansSC-Light;
	font-weight: 300;
	color: #FFFFFF;
	opacity: 0.3;
}
.tu-text span{
	font-size: 26px;
	font-family: Source Han Sans CN;
	font-weight: 400;
	color: #FFFFFF;
}
.banner1{
	width: 1200px;
	margin: auto;
	height: auto;
	margin-top: 45px;
	display: flex;
	justify-content: space-between;
}
.banner-left{
	width: 250px;
	height: auto;
}
.banner-left-b1{
	width: 100%;
	height: 120px;
	position: relative;
}
.banner-left-b1 img{
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.banner-left-b2{
	width: 100%;
	height: 100px;
}
.banner-left-b2 img{
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.banner-left-tetx{
	width: 100%;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	display: flex;
	align-items: center;
	justify-content: center;
}
.banner-left-tetx span{
	font-size: 26px;
	font-family: SourceHanSansCN-Bold;
	color: #FFFFFF;
	margin-right: 83px;
}
.banner-left-tetx img{
	width: 20px;
	height: 20px;
}
.left-tt{
	width: 100%;
	height: auto;
}
.left-tt-1{
	width: 100%;
	height: 60px;
	border-bottom: 1px solid #E6E6E6;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.left-tt-1 span{
	margin-left: 29px;
	font-size: 14px;
	font-family: Source Han Sans CN;
	font-weight: 400;
	color: #000000;
	transition: 0.6s;
}
.left-tt-1 img{
	margin-right: 16px;
}

.banner1 .left-tt a:hover span{
	color: #00328B;
}

.banner-right{
	width: 900px;
	height: auto;
	margin-bottom: 90px;
}
.banner-right-top{
	margin-top: 20px;
	height: 55px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	border-bottom: 1px solid #E6E6E6;
}
.banner-right-top span{
	font-size: 22px;
	font-family: Source Han Sans CN;
	font-weight: 400;
	color: #000000;
}
.miaob{
	display: flex;
}
.miaob p,.miaob a{
	font-size: 12px;
	font-family: Source Han Sans CN;
	font-weight: 400;
	color: #666666;
	transition: 0.6s;
}
.miaob a:hover{
	color: #00328B;
}

.banner-ban{
	display: flex;
	width: 100%;
	height: 100px;
	margin: 30px 0px;
}
.s20-d span{
	font-size: 18px;
	font-family: Arial;
	font-weight: 400;
	color: #FFFFFF;
	transition: 0.6s;
}
.s20-d{
	background: #CCCCCC;
	width: 100px;
	height: 100px;
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: center;
	transition: 0.6s;
}
.s20-t{
	width: 800px;
    margin-left: 35px;
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.s20-t span{
	font-size: 22px;
	font-family: Source Han Sans CN;
	font-weight: 400;
	color: #000000;
	margin-bottom: 20px;
}
.s20-t p{
	font-size: 14px;
	font-family: Source Han Sans CN;
	font-weight: 400;
	color: #666666;
}
.s20-xian{
	width: 100%;
	height: 1px;

	background-color: #E6E6E6;
	line-height: 60px;
}
.banner-ban:hover .s20-d{
	background-color: #00328B;
}
.banner-ban:hover .s20-d span{
	color: white;
}