.banner{
    width: 100%;
    height: 800px;
    position: relative;
}
.banner img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.banner:after{
    position: absolute;
    content: "";
    width: 50px;
    height: 50px;
    background: rgb(239,188,27);
    bottom: -25px;
    left: 50%;
    margin-left: -25px;
}
.sec1{
    width: 1200px;
    margin: auto;
    height: auto;
    margin-top: 70px;
    margin-bottom: 130px;

}
.sec1-warp{
    width: 1000px;
    margin: auto;
    height: auto;
}
.sec1 .sec1-warp .sec1-top{
    width: 100%;
    height: auto;
}
.sec1 .sec1-warp .sec1-top span{
    display: block;
    margin: auto;
    font-size: 35px;
    font-weight: bold;
    text-align: center;
    position: relative;
    margin-bottom: 20px;
}
.sec1 .sec1-warp .sec1-top span:after{
    position: absolute;
    bottom: -7px;
    left: 50%;
    margin-left: -35px;
    width: 70px;
    height: 3px;
    background: black;
    content: "";
}
.sec1 .sec1-warp .sec1-top p{
    font-size: 21px;
}
.sec1 .sec1-warp .sec1-top .div{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 30px;
}
.sec1 .sec1-warp .sec1-top .div div{
    height: 13px;
    background: rgb(42,143,104);
}
.sec1 .sec1-warp .sec1-top .div div:nth-child(1){
    width: 13px;
}
.sec1 .sec1-warp .sec1-top .div div:nth-child(2){
    width: 12px;
    margin-left: 5px;
    margin-right: 7px;
}
.sec1 .sec1-warp .sec1-top .div div:nth-child(3){
    width: 15px;
}
.sec1 .sec1-warp .sec1-bo{
    width: 100%;
    height: auto;
    margin-top: 55px;
    position: relative;
}
.sec1 .sec1-warp .sec1-bo .svg{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
.sec1 .sec1-warp .sec1-bo .svg .svg1{
    width: 98px;
    height: 58px;
    transform: rotateX(
            180deg
    );
    position: absolute;
    top: 234px;
    left: 145px;
    fill: #A6CB66;
}
.sec1 .sec1-warp .sec1-bo .svg .svg2{
    width: 98px;
    height: 58px;
    transform: rotateY(
            180deg
    );
    position: absolute;
    top: 634px;
    left: 438px;
    fill: #A6CB66;
}
.sec1 .sec1-warp .sec1-bo .svg .svg2 svg{
    transform: rotate(
            330deg
    );
}
.sec1 .sec1-warp .sec1-bo .svg .svg3{
    width: 98px;
    height: 58px;
    transform: rotatex(180deg);
    position: absolute;
    top: 234px;
    left: 800px;
    fill: #A6CB66;
}
.sec1 .sec1-warp .sec1-bo .svg .svg3 svg{
    transform: rotate(
            300deg
    );
}
.sec1 .sec1-warp .sec1-bo .sec1-bo1{
    width: 441px;
    height: 281px;
    background: rgb(235,245,238 );
    transition: 0.5s;
    position: relative;

}
.sec1 .sec1-warp .sec1-bo .sec1-bo1:hover{
    transform: scale(1.1);
}
.sec1 .sec1-warp .sec1-bo .two{
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}
.sec1 .sec1-warp .sec1-bo .sec1-bo1 .sec1-bo1-warp{
    width: 90%;
    margin: auto;
    padding-top: 10px;

}
.sec1 .sec1-warp .sec1-bo .sec1-bo1-warp-first{
    margin: auto;
}
.sec1 .sec1-warp .sec1-bo .sec1-bo1 .sec1-bo1-warp span{
    font-size: 32px;
    line-height: 1em;
    position: relative;
    margin-bottom: 15px;
    display: block;
}
.sec1 .sec1-warp .sec1-bo .sec1-bo1 .sec1-bo1-warp span:after{
    content: "";
    position: absolute;
    bottom: -10px;
    left: 0px;
    width: 308px;
    height: 2px;
    background: black;
}
.sec1 .sec1-warp .sec1-bo .sec1-bo1 .sec1-bo1-warp p{
    font-size: 18px;
    line-height: 1.5em;
}
.sec1 .sec1-warp .sec1-bo .sec1-bo1 .sec1-bo1-warp img{
    position: absolute;
    bottom: 10px;
    right: 10px;
}
.sec2{
    width: 1200px;
    margin: auto;
    height: auto;
    padding-top: 100px;
}
.sec2-warp1{
    width: 1000px;
    margin: auto;
}
.sec2-warp1 span{
    font-size: 35px;
    font-weight: bold;
    display: block;text-align: center;
    position: relative;
    margin-bottom: 20px;
}
.sec2-warp1 span:before{
    content: "";
    position: absolute;
    top: -80px;
    left: 50%;
    margin-left: -25px;
    width: 50px;
    height: 50px;
    background: rgb(239,188,27);
}
.sec2-warp1 span:after{
    content: "";
    position: absolute;
    bottom: -15px;
    left: 50%;
    margin-left: -35px;
    width: 70px;
    height: 3px;
    background: #000;
}
.sec2-warp1 p{
    font-size: 21px;
}
.sec2-warp1 .div{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 30px;
}
.sec2-warp1 .div div{
    height: 13px;
    background: rgb(42,143,104);
}
.sec2-warp1 .div div:nth-child(1){
    width: 13px;
}
.sec2-warp1 .div div:nth-child(2){
    width: 12px;
    margin-left: 5px;
    margin-right: 7px;
}
.sec2-warp1 .div div:nth-child(3){
    width: 15px;
}
.se2-warp2{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 80px auto;
}
.se2-warp2 .left{
    width: 323px;
    height: auto;
}
.se2-warp2 .left img{
    max-width: 100%;
    height: auto;
}
.se2-warp2 .right{
    width: 700px;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    align-content: space-around;
}
.se2-warp2 .right .lxq{
    width: 223px;
    height: 102px;
    border: 1px solid rgb(42,143,104);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-right: 12.5px;
}
.se2-warp2 .right .lxq:nth-child(3n){
    margin-right: 0px;
}
.se2-warp2 .right .lxq .lxq-img{
    width: 100%;
    height: 67px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.se2-warp2 .right .lxq .lxq-img:nth-child(1) img{
    width: 34px;
    height: 37px;
}
.se2-warp2 .right .lxq span{
    color: #292929;
    font-size: 20px;
    font-weight: bold;
}
.qDqoW{
    width: 100%;
    height: 82px;
    background: #2A8F68;
    text-align: center;
    line-height: 82px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.qDqoW img{
    width: 37px;
    height: 34px;
}
.qDqoW span{
    color: #ffffff;
    font-weight: bold;
    font-size: 20px;
}