.sec1{
    width: 100vw;
    height: 100vh;
}
.sec1 img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.swiper{
    width: 100%;
    height: 100%;
    position: relative;
}
.sec1 .swiper .swiper-slide{
    position: relative;
    overflow: hidden;
}
.sec1 .swiper .swiper-slide img{
    transform: scale(1.1);
    transition: cubic-bezier(.77, 0, .175, 1) transform 2s;;
}
.sec1 .swiper .swiper-slide-active img{
    transform: scale(1);
}
.sec1 .swiper .swiper-slide .text{
    position: absolute;
    top: 50%;
    left: 218px;
    transform: translate(0%,-50%);
}
.sec1 .swiper .swiper-slide .text .span{
    font-size: 50px;
    font-weight: bold;
    color: #FFFFFF;
    letter-spacing: 10px;
}
.sec1 .swiper .swiper-slide .text .span span{
    position: relative;
    font-size: 50px;
    font-weight: bold;
    color: #FFFFFF;
    top: -300px;
    opacity: 0;
    transition: 0.6s;
}
.sec1 .swiper .swiper-slide-active .text .span span{
    opacity: 1;
    top: 0;
}
.sec1 .swiper .swiper-slide .text p{
    font-size: 14px;
    font-weight: normal;
    color: #FFFFFF;
    margin-top: 20px;
    letter-spacing: 3px;
}
.sec1 .np{
    position: absolute;
    left: 218px;
    bottom: 40%;
    width: auto;
    height: auto;
    display: flex;
    z-index: 9999;
    align-items: center;
}
.sec1 .np .line{
    width: 1px;
    height: 26px;
    background: #FFFFFF;
    opacity: .3;
    margin: 0px 8px;
}
.sec1 .np i{
    cursor: pointer;
    color: white;
}

.swiper-pagination-bullet{
    background: inherit;
}
:root{

    --swiper-theme-color: inherit;
}
.pagination{
    position: absolute;
    /*right: 20px;*/
    top: 40%!important;
    left: 90%!important;
    width: 30px!important;
    height: auto;
    z-index: 99;
    display: flex!important;
    flex-direction: column!important;
}
.pagination span{
    color: white!important;
    opacity: 1!important;
    position: relative;
    margin: 15px 0px!important;
    transition: 1s;
}
.pagination span:after{
    content: "";
    position: absolute;
    width: 2px;
    background: #FFFFFF;
    opacity: 0.5;
    top: 30px;
    left: 10px;
    transition: 1s;
    height: 0px;
}
.pagination .swiper-pagination-bullet-active{
    margin-bottom: 205px!important;

}
.pagination .swiper-pagination-bullet-active:after{
    height: 190px;
}
.cir{
    position: absolute;
    left: 50%;
    margin-left: -15px;
    bottom: 28px;
    width: 30px;
    height: 30px;
    background: rgba(102, 102, 102, 0);
    border: 1px solid #CCCCCC;
    border-radius: 50%;
    cursor: pointer;

}
.cir .div{
    width: 2px;
    height: 6px;
    background: #FFFFFF;
    border-radius: 2px;
    position: absolute;
    left: 50%;
    margin-left: -1px;
    top: 5px;
    opacity: 0;
    animation: xz1 2s infinite linear;
}
@keyframes xz1 {
    50%{
        opacity: 1;
        top: 10px;
    }
    100%{
        opacity: 0;
        top: 20px;
    }
}

.sec3{
    width: 100%;
    height: 100vh;
    background: #CCCCCC;
}
.section2{
    height: auto!important;
    overflow-y: scroll;
}

.sec2{
    width: 1500px;
    height: auto;
    margin: auto;
    overflow: hidden;
}
.sec2 .top{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    margin-top: 218px;
}
.sec2 .top span{
    font-size: 34px;
    font-weight: bold;
    color: #333333;
}
.sec2 .top a{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 50px;
    background: rgba(255, 144, 0, 0);
    border: 1px solid #CCCCCC;

    font-size: 14px;
    font-weight: 400;
    color: #666666;
    transition: 0.6s;
}
.sec2 .top a i{
    font-size: 31px;
    /*transition: 0.6s;*/
}
.sec2 .top a:hover{
    background: #F0942F;
    color: white;
}
.sec2 .bo{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 48px;
    margin-bottom: 180px;
}
.sec2 .bo .bo1 .img{
    width: 350px;
    height: 180px;
    overflow: hidden;
    position: relative;
}
.sec2 .bo .bo1 .img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 1s;
}
.sec2 .bo .bo1 .img span{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 22px;
    font-weight: bold;
    color: #FFFFFF;
}
.sec2 .bo .bo1 .line{
    width: 350px;
    height: 4px;
    background: #00B1FF;
}
.sec2 .bo .bo1 .last{
    width: 350px;
    height: 340px;
    background: #F3F4F8;
    transition: 1s;
    position: relative;
}
.sec2 .bo .bo1 .last .text{
    position: absolute;
    top: 70px;
    left: 50%;
    transform: translate(-50%,0%);
    display: flex;
    flex-direction: column;
}
.sec2 .bo .bo1 .last .text a{
    margin-bottom: 20px;

    font-size: 14px;
    font-weight: 400;
    color: #666666;
    transition: 1s;
    position: relative;
}
.sec2 .bo .bo1 .last .text a:after{
    content: "";
    width: 0%;
    height: 2px;
    background: white;
    position: absolute;
    bottom: -7px;
    left: 0;
    transition: 1s;
}
.sec2 .bo .bo1 .last i{
    font-size: 120px;
    transition: 1s;
    position: absolute;
    bottom: 34px;
    left: 50%;
    transform: translate(-50%,0%);
    color: white;
    opacity: 0;
}
.sec2 .bo .bo1:hover .last{
    background: #0D6C96;
}
.sec2 .bo .bo1:hover .img img{
    transform: scale(1.1);
}
.sec2 .bo .bo1:hover .text a{
    color: white;
}
.sec2 .bo .bo1:hover .last i{
    opacity: .1;
}
.sec2 .bo .bo1 .last .text a:hover:after{
    width: 100%;
}
.sec3{
    width: 100%;
    height: 800px;
    background-image: url("../images/s3.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
}
.sec3 .sec3-warp{
    width: 1500px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 164px;
    margin-bottom: 144px;
}
.sec3 .sec3-warp .left .top span{
    font-size: 34px;
    font-weight: bold;
    color: #333333;
}
.sec3 .sec3-warp .left .top{
    margin-bottom: 94px;
}
.sec3 .sec3-warp .left .swiper .swiper-slide span{
    font-size: 18px;
    font-weight: bold;
    color: #333333;
}
.sec3 .sec3-warp .left .swiper .swiper-slide p{
    font-size: 14px;
    font-weight: 400;
    color: #666666;
    line-height: 26px;
    margin-top: 20px;
    margin-bottom: 80px;
}
.sec3 .sec3-warp .left .swiper .swiper-slide a{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 50px;
    background: rgba(255, 144, 0, 0);
    border: 1px solid #CCCCCC;
    font-size: 14px;
    font-weight: 400;
    color: #666666;
    transition: 0.6s;
}
.sec3 .sec3-warp .left .swiper .swiper-slide a i{
    font-size: 31px;
}
.sec3 .sec3-warp .left .swiper .swiper-slide a:hover{
    background: #F0942F;
    color: white;
}
.sec3 .sec3-warp .left .swiper{
    width: 615px;
    overflow: hidden;
}
.sec3 .sec3-warp .right .swiper .swiper-slide .img{
    width: 367px;
    height: 492px;
}
.sec3 .sec3-warp .right .swiper{
    height: 492px;
    width: 367px;
}
.sec3 .sec3-warp .right .swiper .swiper-slide .img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.sec3 .sec3-warp .right{
    display: flex;
}
.sec3 .sec3-warp .right .qx{
    width: 300px;
    height: auto;
    position: relative;
}
.sec3 .sec3-warp .right .qx img{
    position: absolute;
    right: 0;
    top: 50%;
    transform: translate(0%,-50%);
}
.sec3 .sec3-warp .right .qx .qx1{
    position: absolute;
    z-index: 9;
}
.sec3 .sec3-warp .right .qx .qx1:nth-child(1){
    right: 70px;
    top: 78px;
}
.sec3 .sec3-warp .right .qx .qx1:nth-child(2){
    right: 53px;
    top: 155px;
}
.sec3 .sec3-warp .right .qx .qx1:nth-child(3){
    right: 47px;
    top: 220px;
}
.sec3 .sec3-warp .right .qx .qx1:nth-child(4){
    right: 50px;
    top: 295px;
}
.sec3 .sec3-warp .right .qx .qx1:nth-child(5){
    right: 62px;
    top: 365px;
}
.sec3 .sec3-warp .right .qx .qx1 span{
    font-size: 14px;
    font-weight: normal;
    color: #666666;
    cursor: pointer;
    transition: 0.6s;
    position: relative;
}
.sec3 .sec3-warp .right .qx .qx1 span:before{
    content: "";
    width: 6px;
    height: 6px;
    background: #0D6C96;
    border-radius: 50%;
    position: absolute;
    right: -50px;
    top: 50%;
    margin-top: -3px;
    opacity: 0;
    transition: 0.6s;
}
.sec3 .sec3-warp .right .qx .qx1 span:after{
    content: "";
    width: 20px;
    height: 20px;
    border:1px solid #0D6C96;
    border-top: 0px;
    border-left:0px;
    border-radius: 50%;
    position: absolute;
    right: -57px;
    top: 50%;
    margin-top: -11px;
    animation: xz 2s infinite linear;
    opacity: 0;
    transition: 0.6s;
}
@keyframes xz {
    100%{
        transform: rotate(360deg);
    }
}
.sec3 .sec3-warp .right .qx .qx1.sel span{
    color: #0D6C96;
}
.sec3 .sec3-warp .right .qx .qx1.sel span:after,.sec3 .sec3-warp .right .qx .qx1.sel span:before{
    opacity: 1;
}
.sec3 .sec3-warp .right .qx .qx1 span:hover{
    color: #0D6C96;
}
.sec3 .sec3-warp .right .qx .qx1 span:hover:after,.sec3 .sec3-warp .right .qx .qx1 span:hover:before{
    opacity: 1;
}
.sec4{
    width: 100%;
    height: 840px;
    background-image: url("../images/bk.jpg");
    background-size: cover;
    overflow: hidden;
    position: relative;
}
.sec4 .sec4-warp{
    width: 1500px;
    margin: auto;
    height: auto;
}
.sec4 .sec4-warp .sec4-top{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 165px;
}
.sec4 .sec4-warp .sec4-top .left{
    width: 658px;
    height: auto;
}
.sec4 .sec4-warp .sec4-top .left span{
    font-size: 34px;
    font-weight: bold;
    color: #FFFFFF;
    display: block;
    margin-bottom: 31px;
}
.sec4 .sec4-warp .sec4-top .left p{
    font-size: 14px;
    font-weight: 400;
    color: #FFFFFF;
    line-height: 28px;
}
.sec4 .sec4-warp .sec4-top .left a{
    margin-top: 63px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 50px;
    background: rgba(255, 144, 0, 0);
    border: 1px solid #CCCCCC;
    font-size: 14px;
    font-weight: 400;
    color: white;
    transition: 0.6s;
}
.sec4 .sec4-warp .sec4-top .left a i{
    font-size: 31px;
}
.sec4 .sec4-warp .sec4-top .left a:hover{
    background: #F0942F;
    color: white;
}
.sec4 .sec4-warp .sec4-top .right{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 500px;
}
.sec4 .sec4-warp .sec4-top .right .line{
    width: 1px;
    height: 124px;
    background: #FFFFFF;
    opacity: 0.2;
}
.sec4 .sec4-warp .sec4-top .right .right1{
    display: flex;
    flex-direction: column;
    width: 150px;
}
.sec4 .sec4-warp .sec4-top .right .right1 p{
    font-size: 14px;
    font-weight: 400;
    color: #FFFFFF;
}
.sec4 .sec4-warp .sec4-top .right .right1 .sp{
    display: flex;
}
.sec4 .sec4-warp .sec4-top .right .right1 .sp span{
    font-size: 50px;
    font-weight: 600;
    color: #F0942F;
}
.sec4 .sec4-warp .sec4-top .right .right1 .sp p{
    font-size: 14px;
    font-weight: 400;
    color: #FFFFFF;
    margin-top: 12px;
    margin-left: 9px;
}
.sec4 .sec4-bo{
    width: 100%;
    height: 300px;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 10;
    display: flex;
    justify-content: center;
}
.sec4 .sec4-bo .left{
    width: 750px;
    height: 300px;
    background: #F3F4F8;
    position: relative;
}
.sec4 .sec4-bo .left .line{
    width: 567px;
    position: relative;
    transform: translate(-50%,-50%);
    top: 52%;
    left: 50%;
    height: 0px;
    overflow: hidden;
    border-top: 1px dashed #999999;
}
/*.sec4 .sec4-bo .left .line:after{*/
/*    position: absolute;*/
/*    top: 0;*/
/*    left: 0;*/
/*    content: "";*/
/*    width: 100%;*/
/*    border: 2px dashed #999999;*/
/*    animation: zou 3s infinite linear;*/

/*}*/
/*.sec4 .sec4-bo .left .line:before{*/
/*    position: absolute;*/
/*    top: 0;*/
/*    left: -100%;*/
/*    content: "";*/
/*    width: 100%;*/
/*    border: 2px dashed #999999;*/
/*    animation: zou1 3s infinite linear;*/
/*}*/
@keyframes zou {
    100%{
        left: 100%;
    }
}
@keyframes zou1 {
    100%{
        left: 0%;
    }
}
.sec4 .sec4-bo .left .bk{
    position: absolute;
    bottom: 0%;
    left: 50%;
    transform: translate(-50%,0%);
}
.sec4 .sec4-bo .left .ba{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    display: flex;
}
.sec4 .sec4-bo .left .ba .ba1{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin:0px 61px;
    width: 100px;
}
.sec4 .sec4-bo .left .ba .ba1 i{
    font-size: 26px;
    margin-bottom: 10px;
    position: relative;
    top: 0;
    transition: 1s;
}
.sec4 .sec4-bo .left .ba .ba1 .i{
    height: 26px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}
.sec4 .sec4-bo .left .ba .ba1 .i:hover i{
    top: -36px;
}
.sec4 .sec4-bo .left .ba .ba1 span{
    font-size: 14px;
    font-weight: 400;
    color: #666666;
    margin-top: 36px;
    display: block;
}
.sec4 .sec4-bo .right{
    position: relative;
    cursor: pointer;
}
.sec4 .sec4-bo .right .zt{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 60px;
    height: 60px;
    background: rgba(0,0,0,.3);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.sec4 .sec4-bo .right .zt i{
    color: #fff;
}
.sec5{
    width: 100%;
    height: auto;
    background-size: cover;
    background-image: url("../images/sec5-bk.jpg");
    overflow: hidden;
}
.sec5 .sec5-warp{
    width: 1500px;
    margin: auto;
    margin-top: 200px;
    margin-bottom: 200px;
}
.sec5 .sec5-warp .sec5-top{
    display: flex;
    justify-content: space-between;
}
.sec5 .sec5-warp .sec5-top .left{
    width: 826px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.sec5 .sec5-warp .sec5-top .left>span{
    font-size: 34px;
    font-weight: bold;
    color: #333333;
}
.sec5 .sec5-warp .sec5-top .left .le-ba span{
    font-size: 16px;
    font-weight: 400;
    color: #0D6C96;
}
.sec5 .sec5-warp .sec5-top .left .le-ba p{
    font-size: 14px;
    color: #666666;
    line-height: 26px;
    margin-top: 21px;
}
.sec5 .sec5-warp .sec5-top .left a{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 50px;
    background: rgba(255, 144, 0, 0);
    border: 1px solid #CCCCCC;
    font-size: 14px;
    font-weight: 400;
    color: #666666;
    transition: 0.6s;
}
.sec5 .sec5-warp .sec5-top .left a i{
    font-size: 31px;
}
.sec5 .sec5-warp .sec5-top .left a:hover {
    background: #F0942F;
    color: white;
}
.sec5 .sec5-warp .sec5-top .right{
    width: 530px;
    height: 320px;
}
.sec5 .sec5-warp .sec5-top .right img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.sec5-bo{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 92px;
}
.sec5-bo .bo1{
    display: flex;
    justify-content: space-between;
    width: 670px;
    align-items: center;
}
.sec5-bo .bo1 a{
    font-size: 14px;
    font-weight: 400;
    color: #0D6C96;
}
.sec5-bo .line{
    width: 1px;
    height: 20px;
    background: #CCCCCC;
}
.sec5-bo .bo1 p{
    font-size: 14px;
    font-weight: 600;
    color: #9A9A9A;
}