@font-face {
  font-family: "iconfont"; /* Project id 3194120 */
  src: url('iconfont.woff2?t=1645520255277') format('woff2'),
       url('iconfont.woff?t=1645520255277') format('woff'),
       url('iconfont.ttf?t=1645520255277') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-jiangbei-:before {
  content: "\e604";
}

.icon-niao:before {
  content: "\e6d9";
}

.icon-shouye1:before {
  content: "\e602";
}

.icon-fuwuye_fuwuye:before {
  content: "\e726";
}

.icon-24gl-store2:before {
  content: "\e836";
}

.icon-yuliuzuoyi:before {
  content: "\e62a";
}

.icon-zhaoshangzhengce_hulianwanghangye:before {
  content: "\e666";
}

.icon-yousanjiaoxing:before {
  content: "\e644";
}

.icon-zuosanjiaoxing:before {
  content: "\e645";
}

.icon-weixin:before {
  content: "\e66c";
}

.icon-jiantou:before {
  content: "\e622";
}

.icon-jiantou3:before {
  content: "\e624";
}

.icon-bofang:before {
  content: "\e8a3";
}

.icon-jiantouxia:before {
  content: "\e62d";
}

.icon-shouye:before {
  content: "\e605";
}

.icon-jiantou_xiangyou:before {
  content: "\eb08";
}

.icon-sanjiaoxing:before {
  content: "\e6bd";
}

.icon-caidan:before {
  content: "\e652";
}

.icon-caidan-:before {
  content: "\e62e";
}

.icon-jia:before {
  content: "\e632";
}

.icon-douyin:before {
  content: "\e8db";
}

.icon-wendangxiazai:before {
  content: "\e62f";
}

