@font-face {
  font-family: "iconfont"; /* Project id 2874623 */
  src: url('iconfont.woff2?t=1637284404643') format('woff2'),
       url('iconfont.woff?t=1637284404643') format('woff'),
       url('iconfont.ttf?t=1637284404643') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-fangxiang:before {
  content: "\e683";
}

.icon-kexinglogo:before {
  content: "\e684";
}

.icon-hexinjiazhiguan:before {
  content: "\e685";
}

.icon-dingwei:before {
  content: "\e60d";
}

.icon-qiyeshiming:before {
  content: "\e630";
}

.icon-yuanjing:before {
  content: "\e797";
}

.icon-mianji:before {
  content: "\e65e";
}

.icon-jianzhu:before {
  content: "\e64a";
}

.icon-yuangong:before {
  content: "\e61b";
}

.icon-xiala:before {
  content: "\e61c";
}

.icon-bofang:before {
  content: "\e662";
}

.icon-xiala-:before {
  content: "\e629";
}

.icon-sousuo:before {
  content: "\e621";
}

